<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
</head>
<body>
    <H1><%=name%></H1>        <!--//return values-->
    <!-- <H1/H1>  //Import html pages -->
    <div class="container">
        <div class="navbar">
            Hi I am Navbar
        </div>

        <div class="hero">
            <p>Hero Section</p>
        </div>

        <div class="footer">
            I am Footer
        </div>

        <h2>Object data</h2>
        <%obj.forEach(s=>{%>
            <li>
                <%=s.name%>
                <%=s.section%>
            </li>
        <%})%>
    </div>
</body>
</html>

<!-- 
} -->