<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Hi i am navbar</h2>
        <p>Hero sectiom</p>
        <h5>I am footer</h5>
    </div>
    
</body>
</html>